.front {
  .pane-title,
  .block__title {
    @include font-size(3.4);
    border-top: 2px solid $gray;
    margin: 40px 0 20px;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($bp-responsive-nav) {
      @include font-size(5.2);
      margin-bottom: 40px;
    }
  }
}

.hero-image-wrapper {
  // The path of the background image is set in theme-settings.php
  // and the image source in included as inline css in student-org-layout.tpl.php
  background-position: center;
  background-size: cover;
  border-bottom: 5px solid $yellow;
  position: relative;

  @include breakpoint($bp-tablet) {
    padding-top: 300px;
  }

  @include breakpoint($bp-desktop) {
    padding-top: 400px;
  }
}

.hero-image-overlay {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em;

  .site-slogan {
    color: #fff;
    line-height: 1.6;
    font-family: $header-font-stack;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 1px;
    @include font-size(2);
    @include rgba-background(rgba(0,0,0, 0.75));

    @include breakpoint($bp-tablet) {
      @include font-size(3);
    }
  }

  .hero-image-links {
    @include breakpoint($bp-tablet) {
      text-align: center;
    }

    a {
      color: #fff;
      border: 2px solid #fff;
      font-family: $header-font-stack;
      font-weight: $font-weight-semi-bold;
      letter-spacing: 1px;
      padding: 0.5em;
      text-transform: uppercase;
      @include inline-block;
      @include rgba-background(rgba(0,0,0,0.75));
      margin: 1em 0.25em;

      @include breakpoint($bp-tablet) {
        padding: 0.75em;
        @include font-size(2);
      }

      &:hover, &:focus, &:active {
        background: $link-color-default;
      }
    }
  }
}
