$base-font-color: #222222;
$header-font-color: #555555;
$footer-font-color: #EEEEEE;
$link-color-default: #397B88;
$alert-color: #A14557;
$gray: #F2F2F2;
$dark_gray: darken($gray, 20%);
$yellow: #FFCE2F;
