// Font Imports
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

// Font Stacks
$header-font-stack: 'proxima-nova-condensed', 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-stack: 'proxima-nova', 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size: 1.6;

// Font Styles
$font-weight-extra-light: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
