.breadcrumb {
  @include breakpoint($bp-mobile-only) {
    display: none;
  }

  border-bottom: 1px solid $gray;
  padding: 10px 0;
  @include cf;

  li {
    list-style: none;
    @include inline-block;
  }

  a {
    background-color: $gray;
    color: $base-font-color;
    display: block;
    padding: 0.5em;
    text-transform: uppercase;
    @include font-size(1.4);

    &:hover, &:focus, &:active {
      background-color: darken($link-color-default, 5%);
      color: #FFFFFF;
    }
  }

  .breadcrumb-seperator {
    margin: 0.5em 0.75em;
    position: relative;
    top: 1px;
  }
}
