.aries-region--first {
  @include breakpoint($bp-tablet) {
    @include flexslider_title_overlay;
  }
}

.aries-region--first .flexslider {
  border-bottom: 5px solid $yellow;

  .flex-caption {
    background: transparent;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.95);
    

    @include breakpoint($bp-desktop) {
      // Center the caption field, which is absolutely positioned.
      left: 50%;
      margin-left: -450px; //half of the width
      width: 900px;
    }

    .views-field-slideshow-title {
      @include element-invisible;
    }
    
    .views-field-slideshow-description {
      line-height: 1.6;
      @include font-size(1.8);
      @include rgba-background(rgba(0,0,0, 0.75));

      @include breakpoint($bp-tablet) {
        @include font-size(2.2);
      }

      @include breakpoint($bp-desktop) {
        width: 900px;
        @include font-size(3);
      }
    }

    .views-field-slideshow-link {
      display: block;
      float: none;
      margin: 1em;
      width: 100%;
      text-align: center;

      @include breakpoint($bp-desktop) {
        margin: 1em 0 2em;
      }

      a {
        float: none;
        padding: 0.5em;
        text-transform: uppercase;
        @include inline-block;
        @include rgba-background(rgba(0,0,0,0.75));

        @include breakpoint($bp-tablet) {
          padding: 0.75em;
          @include font-size(2);
        }

        &:hover, &:focus, &:active {
          background: $link-color-default;
        }
      }
    }
  }
}

// Paging
.aries-region--first .flexslider {
  @include breakpoint($page-max-width) {
    .flex-control-paging {
      width: $page-max-width;
      left: 50%;
      margin-left: -0.5*$page-max-width;
    }
  }
}

// Navigation
.aries-region--first .flexslider {
  @include breakpoint($page-max-width) {
    .flex-direction-nav {
      text-align: right;
      width: $page-max-width;
      left: 50%;
      margin-left: -0.5*$page-max-width;
      position: absolute;
      margin-top: 5px; //Match the width of the bottom yellow border.

      li {
        @include inline-block;
      }

      a {
        bottom: auto;
        margin-top: 0;
        position: relative;
      }

      a.flex-prev {
        left: -45px;
        right: auto;
      }

      a.flex-next {
        right: auto;
      }
    }
  }
}

// Play/Pause Indicator
.aries-region--first .flexslider {
  @include breakpoint($page-max-width) {
    .flex-pauseplay {
      position: absolute;
      width: $page-max-width;
      left: 50%;
      margin-left: -0.5*$page-max-width;
    }

    .flex-pauseplay a {
      position: absolute;
      bottom: -26px;
      right: 25px;
    }
  }
}
